@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.signup {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  &__exit {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: right;
  }
  &__link {
    text-decoration: none;
    color: gray;
  }
  &__title {
    color: $color-darkgray;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 1rem;
    @include font-m-h3-labels-links-buttons;
  }
  &__name-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }

  &__input {
    border-radius: 4px;
    color: $color-pewter;
    border: 1px solid $color-pewter;
    margin-bottom: 1rem;
    padding: 8px;
    &--smaller {
      width: 50%;
    }
  }
  &__button {
    font-family: "Quicksand", sans-serif;
    @include font-m-p2-body-medium;
    color: $color-gunmetal-gray;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid $color-sinbad;
    background-color: $color-sinbad;

    // background-color: $color-wheatfield;
  }
}
