@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.chat-page {
  padding: 1.5rem;
  height: 100vh;

  &__title {
    font-family: "Quicksand", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    color: $color-sinbad;
    text-align: left;
    @include font-m-h1-page-header;
    margin: 0.5rem 0 1.5rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__room {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__label {
    @include font-m-p2-body-medium;
    color: $color-darkgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__input {
    margin: 0.25rem 0;
    border-radius: 1.25rem;
    border: 0.0625rem solid $color-pewter;
    background-color: white;
    @include font-m-p2-body-medium;
    padding: 0.5rem 1rem;
    color: $color-gunmetal-gray;
  }
  &__button {
    @include font-m-h3-labels-links-buttons;
    background-color: $color-sinbad;
    padding: 0.5rem 0.5rem;
    border-radius: 1.25rem;
    border: none;
    width: 100%;
    color: $color-darkgray;
    margin-top: 0.75rem;
  }
}
