@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.hacks {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__back {
    background-image: url("../../assets/icons/back.png");
    background-size: 8%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    padding: 0.75rem 1rem;
  }
  &__title {
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1rem;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__button {
    color: black;
    font-size: 10px;
    border-radius: 20px;
    border: 0.0625rem solid #c8c8a9;
    background-color: #c8c8a9;
    padding: 8px 16px;
    margin: 6px;
  }

  &__input {
    border-radius: 4px;
    border: 0.0625rem solid lightgray;
    &::before {
      content: "Cant find a coping strategy that matches your feelings?\n Create your own!";
      display: block;
      white-space: pre;
      line-height: 1.2;
    }
  }
  &__save,
  &__delete {
    padding: 12px;
    border-radius: 12px;
    border: 0.0625rem solid #83af9b;
    background-color: #83af9b;
  }
}
