@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.hacks {
  padding: 1.5rem;

  &__back {
    color: $color-gunmetal-gray;
    width: auto;
    text-align: left;
  }

  &__title {
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1rem;
    color: $color-darkgray;
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

  &__button {
    color: $color-darkgray;
    font-size: 10px;
    border-radius: 20px;
    border: 0.0625rem solid $color-sinbad;
    background-color: $color-sinbad;
    padding: 16px 24px;
    margin: 6px;
    @include font-m-p2-body-medium;
    &--selected {
      background-color: $color-wheatfield;
      border-color: $color-wheatfield;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    @include font-m-h3-labels-links-buttons;
    color: $color-darkgray;
  }

  &__input {
    border-radius: 4px;
    border: 0.0625rem solid $color-pewter;
    padding: 0.5rem 1rem;
    @include font-m-p2-body-medium;
  }
  &__buttons {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
  &__save,
  &__add {
    padding: 12px;
    border-radius: 12px;
    border: 0.0625rem solid $color-pewter;
    background-color: $color-pewter;
    color: $color-gunmetal-gray;
    width: auto;
  }
  &__delete {
    color: $color-gunmetal-gray;
    width: auto;
  }
}
