@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.chat-app {
  //I think this should go in chat-app page
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #3b5998;
}
.chat {
  &__header {
  }
  &__title {
  }
  &__messages {
  }
  &__message {
  }
  &__user {
  }
  &__container {
    display: flex;
    flex-direction: row;
  }
  &__form {
  }
  &__new-message {
  }
  &__send-button {
    @include font-m-h3-labels-links-buttons;
    background-color: $color-sinbad;
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    border: none;
    width: 100%;
    color: $color-gunmetal-gray;
    margin-top: 1rem;
  }
  &__end {
  }
}
