@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.dashboard {
  padding: 1.5rem;
  height: 100%;
  &__title {
    font-family: "Quicksand", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    color: $color-sinbad;
    text-align: left;
    @include font-m-h1-page-header;
  }
  &__container {
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__intro {
    font-family: "Quicksand", sans-serif;
    color: $color-darkgray;
    @include font-m-p2-body-medium;
    font-weight: 600;
  }
}
