//variables

//primary colors
$color-blue: #83af9b;
$color-green: #c8c8a9;
$color-brown: #774f38;
$color-beige: #ece5ce;
$color-yellow: #f9cdad;
$color-pink: #fe4365;

//secondary colors

//background colors

//mood colors
$color-m-green: #158463;
$color-m-lightgreen: #c8c8a9;
$color-m-yellow: #f9cdad;
$color-m-orange: #ff9d5c;
$color-m-red: #c94515; //error states

$color-sinbad: #a4d3c3;
// RGB(164,211,195 blue
$color-wheatfield: #f3ecd3;
// RGB(243, 236, 211)
$color-surf-crest: #c4dfc5;
$color-fringy-flower: #acdcc1;
// RGB(172,220,193
$color-gunmetal-gray: #595e60;
$color-darkgray: #222222;
$color-pewter: #d1d0d0;
