//variables

//primary colors
$color-blue: #83af9b;
$color-green: #c8c8a9;
$color-brown: #774f38;
$color-beige: #ece5ce;
$color-yellow: #f9cdad;
$color-pink: #fe4365;

//secondary colors

//background colors

//supporting colors
$supporting-green: #158463;
$supporting-red: #c94515; //error states
