@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.welcome {
  padding: 64px 36px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font: 2vw "Quicksand";
  background-color: $color-yellow;
  font-family: "Quicksand", sans-serif;
  // system-ui

  &__container {
    transform: translatey(0px);
    animation: float 3s ease-in-out 2;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2.5px;
    font-size: 14px;
    color: $color-brown;
    background-color: $color-beige;
    padding: 20px;
    border-radius: 11px;
    position: relative;
    box-shadow: 20px 20px $color-blue;
    font-family: "Quicksand", sans-serif;
    // border: 1px solid $color-green;

    &:after {
      transform: translatey(0px);
      animation: float2 3s ease-in-out 2;
      content: ".";
      font-weight: bold;
      // -webkit-text-stroke: 0.5px $color-green;
      -webkit-text-fill-color: $color-beige;
      // border: 1px solid $color-green;
      text-shadow: 22px 22px $color-blue;
      text-align: left;
      font-size: 55px;
      width: 55px;
      height: 11px;
      line-height: 30px;
      border-radius: 11px;
      background-color: $color-beige;
      position: absolute;
      display: block;
      bottom: -30px;
      left: 0;
      box-shadow: 22px 22px $color-blue;
      z-index: -2;
    }
  }

  &__title {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
  }
  &__intro {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    // animation: showButtons 9s ease-in-out 1; added last min
  }
  &__buttons {
    opacity: 1;
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    animation: showButtons 9s ease-in-out 1;
  }
  &__button {
    font-weight: 500;
    font-family: system-ui;
    color: #774f38;
    background-color: $color-green;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    &--left {
      background-color: $color-beige;
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

@keyframes showButtons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
