@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.crisis {
  padding: 1.5rem;
  // height: 100%;
  &__title {
    color: $color-sinbad;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 1rem;
    text-align: left;
  }
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__911,
  &__988,
  &__ER,
  &__urgent-care {
    border-radius: 20px;
    border: 1px solid $color-sinbad;
    background-color: $color-sinbad;
    color: $color-gunmetal-gray;
    @include font-m-h3-labels-links-buttons;
    width: 100%;
    height: 100px;
  }
}
.clicked {
  border: 1px solid $color-wheatfield;
  background-color: $color-wheatfield;
  svg {
    color: $color-sinbad;
  }
}
svg {
  color: $color-wheatfield;
  width: 100%;
}
