@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Quicksand", sans-serif;
}
