@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.contacts {
  padding: 1.5rem;
  color: $color-darkgray;
  &__back {
    text-align: left;
    width: auto;
    color: $color-gunmetal-gray;
  }
  &__title {
    @include font-m-h3-labels-links-buttons;
    color: $color-darkgray;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__contact {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  &__avatar {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: $color-pewter;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__newcontact-name,
  &__newcontact-phone {
    @include font-m-p2-body-medium;
  }
  &__newcontact-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  &__newcontact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__name {
    width: 45%;
  }
  &__phone {
    width: 45%;
  }
  &__button {
    margin-top: 1rem;
    background-color: $color-sinbad;
    border: 1px solid $color-sinbad;
    border-radius: 4px;
    color: $color-darkgray;
    @include font-m-h3-labels-links-buttons;
  }
}
