@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.not-found {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__round-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background-color: $color-sinbad;
  }

  &__error {
    color: $color-wheatfield;
    font-family: "Quicksand", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0.18px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  &__message {
    color: $color-darkgray;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 17px;
    letter-spacing: 0.18px;
    text-align: center;
  }
}
